@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
applet, object, iframe, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, img, header, section { margin: 0; padding: 0; outline: none; border: none; }

body{
	font-family: Arial, sans-serif;
}

h1,h2,h3,h4,.btn,input.btn{
	font-family: Ubuntu, sans-serif;

}

ul{
	line-height: 1.8em;
	padding-left: 20px;
}

.h2, h2 {
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    background: #337ab7;
    color: #fff;
    padding: 3px 5px;
    margin-bottom: 15px;
}
.code {
  font-size: 50px;
	text-align: center;
}

.failure {
  color: #d9534f;
}

.success {
  color: #5cb85c;
}

.form-inline {
  margin-bottom: 10px;
}

.message {
  font-weight: bold;
}

.well{
	margin-top: 30px;
	padding: 10px 30px;
}

.well h1{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 800;
}

.alert{
	margin-top: 10px;
	padding: 3px 5px;
	text-align: center;
	font-size: 16px;
}

.alert.alert-success{
	font-size: 20px;
	margin-bottom: 10px;
}

input.form-control{
	height: 45px;
	text-align: center;
	font-size: 16px;
}

.btn{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 20px;
	display: block;
}

button.btn{
	margin-top: 5px;
}

div#results {
    font-size: 16px;
}

div#results .heading{
	padding: 3px 5px;
	margin-bottom: 5px;
	overflow: auto;
	display: inline-block;
	width: 100%;
}

.guess,.results{
	padding: 0;
	text-align: center;
}

p.num_attempts{
	text-align: center;
	font-weight: 800;
}

.guessrow{
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 17px;
	padding: 0;
}

.instructions{
	margin-top: 20px;
}

.instructions p{
	margin-bottom: 30px;
}

.points{
	background: #a94442;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.points h4{
	font-size: 20px;
}

.points_earned{
	font-size: 25px;
	font-weight: 700;
}

p.charsleft{
	color: #a94442;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
}

.panel-body{
	padding: 20px;
}

.notincode{
	display: none;
	font-weight: 800;
}

.game{
	margin-bottom: 40px;
}

.fa-check{
	color: #3c763d;
}
.fa-exchange{
	color: #31708f;
}

.fa-times{
	color: #a94442;
}

@media handheld, only screen and (max-width: 768px) {
	.well{
		margin-top: 0;
	}
	.points{
		margin-bottom: 0;
	}
	.game, .instructions{
		padding: 0;
	}

	.gamecnt{
		padding-left: 0;
		padding-right: 0;
	}
}

@media handheld, only screen and (max-width: 498px) {
	
	.well h1{
		font-size: 31px;
	}
}	


